services:
  selenium:
    image: selenium/standalone-chrome:latest
    shm_size: 2gb
    environment:
      - SE_NODE_MAX_SESSIONS=1
      - SE_NODE_OVERRIDE_MAX_SESSIONS=true
      - SE_SESSION_REQUEST_TIMEOUT=300

  app:
    build: .
    depends_on:
      - selenium
    environment:
      - NAUKRI_EMAIL=${NAUKRI_EMAIL}
      - NAUKRI_PASSWORD=${NAUKRI_PASSWORD}
      - NAUKRI_PROFILE_URL=${NAUKRI_PROFILE_URL}
      - GITHUB_RESUME_URL=${GITHUB_RESUME_URL}
    volumes:
      - ./logs:/app/logs
      - ./cookies.json:/app/cookies.json
