services:
  selenium:
    image: selenium/standalone-chrome:latest
    platform: linux/amd64
    shm_size: 2gb

  app:
    build: .
    platform: linux/amd64
    depends_on:
      - selenium
    environment:
      - NAUKRI_EMAIL=${NAUKRI_EMAIL}
      - NAUKRI_PASSWORD=${NAUKRI_PASSWORD}
      - NAUKRI_PROFILE_URL=${NAUKRI_PROFILE_URL}
      - GITHUB_RESUME_URL=${GITHUB_RESUME_URL}
    volumes:
      - ./logs:/app/logs
      - ./cookies.json:/app/cookies.json


