name: Naukri Automation

on:
  workflow_dispatch:   # manual trigger (for testing)

jobs:
  run-bot:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Prepare files
        run: |
          mkdir -p logs
          touch cookies.json

      - name: Start containers
        env:
          NAUKRI_EMAIL: ${{ secrets.NAUKRI_EMAIL }}
          NAUKRI_PASSWORD: ${{ secrets.NAUKRI_PASSWORD }}
          NAUKRI_PROFILE_URL: ${{ vars.NAUKRI_PROFILE_URL }}
          GITHUB_RESUME_URL: ${{ vars.RESUME_URL }}
        run: |
          docker compose up --build -d

          echo "Waiting for Selenium to be ready..."
          until docker compose exec -T app \ 
            curl -s http://selenium:4444/status | grep -q '"ready":true'; do
            sleep 5
          done

      - name: Run automation
        env:
          NAUKRI_EMAIL: ${{ secrets.NAUKRI_EMAIL }}
          NAUKRI_PASSWORD: ${{ secrets.NAUKRI_PASSWORD }}
          NAUKRI_PROFILE_URL: ${{ vars.NAUKRI_PROFILE_URL }}
          GITHUB_RESUME_URL: ${{ vars.RESUME_URL }}
        run: docker compose exec -T app python main.py
      
      - name: Selenium Logs
        if: failure()
        run: docker compose logs selenium

      - name: Stop containers
        if: always()
        run: docker compose down

